@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
html {
  height: 100%;
}
body {
  margin: 10px;
  background: #e3dbdb;
  color: black;
  font-family: 'Open Sans Condensed', sans-serif;
  margin-top: 130px;
  margin-bottom: 40px;
  font-size: 20px;
  letter-spacing: 1px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
#logo {
  height: 100px;
  position: absolute;
  top: -130px;
  left: 0;
  right: 0;
  margin: 10px auto;
  padding: 0 10px;
  max-width: 100%;
  box-sizing: border-box;
}
msg {
  display: block;
  margin: 10px 30px;
  letter-spacing: initial;
  color: #4a3a3a;
}
btns, page, levelcontainer {
  display: block;
  width: 100%;
}
choices {
  display: flex;
  margin: 0 10px;
  flex-wrap: wrap;
}
choice {
  display: inline-block;
  flex-grow: 1;
  margin: 5px;
  flex-basis: 0;
}
btns btn, continue, choice {
  border: 2px solid black;
  padding: 5px 10px;
  cursor: pointer;
  background: white;
  transition: background .2s cubic-bezier(0,1,1,1);
}
btns btn:active,
continue:active,
choice:active,
add:active,
edit:active,
restart:active,
copy:active,
delete:active {
  background-color: #eee;
}
btns btn {
  font-size: 30px;
  display: table;
  margin: 5px auto;
}
btns btn.disabled {
  cursor: default;
  background: #ddd;
}
continue {
  display: table;
  margin: 0 auto;
}
.hide {
  display: none;
}
.bye, .hello {
  position: fixed;
  margin: 0 10px;
  top: 130px;
  width: auto;
  bottom: 40px;
  pointer-events: none;
}
.bye {
  animation: bye .3s cubic-bezier(1,0,1,1);
  right: 100%;
  left: -100%;
}
@keyframes bye {
  0% {right:0;left:0;}
  100% {right:100%;left:-100%;}
}
.hello {
  animation: hello .3s cubic-bezier(0,1,1,1);
  left: 0;
  right: 0;
}
@keyframes hello {
  0% {left:100%;right:-100%;}
  100% {left:0;right:0;}
}
/*btns.bye, btns.hello, levelcontainer.bye, levelcontainer.hello {
  top: 130px;
}*/
page input {
  border: 2px solid black;
  background: white;
  width: 50%;
  padding: 5px;
  text-align: center;
  display: block;
  margin: 5px auto;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
page msg img {
  max-height: 300px;
  max-width: 100%;
}
left, right {
  display: block;
  position: fixed;
  bottom: 5px;
  color: #4a3a3a;
  font-size: 0;
  margin: 5px;
  transition: bottom .5s;
}
left {
  left: 0;
}
right {
  right: 90px;
}
left btn, right btn {
  display: inline-block;
  font-size: 20px;
  height: 20px;
  margin: 5px;
  line-height: 1;
  cursor: pointer;
}
left btn:hover, right btn:hover {
  margin-bottom: 4px;
  border-bottom: 1px solid #4a3a3a;
}
left btn {
  display: none;
}
left.playing btn:first-child, left.playing btn:nth-child(2) {
  display: inline-block;
}
left.editing btn:nth-child(3) {
  display: inline-block;
}
h {
  display: block;
  font-size: 30px;
}
bar {
  position: fixed;
  z-index: -1;
  bottom: 0;
  background: #3398d7;
  width: 100%;
  left: 0;
  height: 5px;
  transition: height .5s, background .5s;
}
bar.die, bar.win {
  z-index: 1001;
  height: 15px;
}
bar.die {
  background: #d73333;
  animation: die 1s cubic-bezier(1,0,0,1), pulsate .3s linear 1s infinite alternate;
}
@keyframes die {
  0% {height: 5px;}
  40% {height: 100%;opacity: 1;}
  80% {opacity: 0;height: 100%;}
  81% {opacity: 1;height: 0;}
  100% {height: 15px;}
}
@keyframes pulsate {
  from {background: #d73333;}
  to {background: #e26e6e;}
}
bar.win {
  background: #8cd733;
  animation: win .3s linear infinite alternate;
}
@keyframes win {
  from {background: #8cd733;}
  to {background: #62991e;}
}
left.winlose, right.winlose {
  bottom: 20px;
}
confettis {
  position: absolute;
}
confetti {
  display: block;
  position: fixed;
  height: 0;
  width: 0;
}
levelcontainer {
  position: absolute;
  top: 0;
  bottom: 0;
}
levels {
  border: 2px solid black;
  display: block;
  margin: 0 30px;
  position: absolute;
  top: 40px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: scroll;
}
levels::-webkit-scrollbar {
	background: none;
  border-left: 2px solid black;
}
levels::-webkit-scrollbar-track {
	background: none;
}
levels::-webkit-scrollbar:vertical {
	width: 20px;
}
levels::-webkit-scrollbar-thumb {
	background: white;
  box-shadow: 0 0 0 2px black;
	border-radius: 0;
  border-left: 2px solid black;
}
levelcontainer input {
  display: inline-block;
  margin-left: 30px;
  border: 2px solid black;
  border-bottom: none;
  box-sizing: border-box;
  padding: 5px;
  height: 40px;
  width: calc(100% - 100px);
}
add {
  display: inline-block;
  background-color: white;
  background-image: url('imgs/plus.svg');
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
  border-top: 2px solid black;
  border-right: 2px solid black;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 30px;
  cursor: pointer;
  transition: background .2s cubic-bezier(0,1,1,1);
}
edit {
  display: inline-block;
  background-color: white;
  background-image: url('imgs/edit.svg');
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
  position: absolute;
  right: 0;
  top: 0;
  box-sizing: border-box;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  cursor: pointer;
  transition: background .2s cubic-bezier(0,1,1,1);
}
level {
  display: block;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
  height: 40px;
  line-height: 1;
  position: relative;
}
level:nth-child(odd) {
  background-color: rgba(0,0,0,0.05);
}
level.fail {
  background-color: rgba(255,0,0,0.1);
}
editr {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 30px;
  border: 2px solid black;
  box-sizing: border-box;
  background: rgba(0,0,0,0.2);
}
editr.hello, editr.bye {
  margin: 0 40px;
}
editr input {
  width: calc(100% - 60px);
  display: table;
  margin: 30px;
  border: 2px solid black;
  box-sizing: border-box;
  padding: 5px;
  height: 40px;
  line-height: 1;
}
actions {
  display: flex;
  position: absolute;
  top: 160px;
  bottom: 30px;
  left: 20px;
  right: 20px;
}
restart, copy, delete {
  flex-grow: 1;
  flex-basis: 0;
  border: 2px solid black;
  background: white;
  display: block;
  margin: 10px;
  height: 100%;
  box-sizing: border-box;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  transition: background .2s cubic-bezier(0,1,1,1);
}
restart {background-image: url('imgs/again.svg');}
copy {background-image: url('imgs/copy.svg');}
delete {background-image: url('imgs/del.svg');}
@media (max-width:460px) {
  btns btn {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
  }
  page input {
    width: 100%;
    box-sizing: border-box;
  }
}
